--
-- PostgreSQL database dump
--

\restrict 0wVMeo0Pm78CfgS20zIPjFvrHt9oZ0osJDmsk01NfQ7TKUVy0OcqBMVDXyfU8iG

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: reservation; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.reservation (
    reservation_id integer NOT NULL,
    reservation_batch_id uuid,
    user_id integer NOT NULL,
    seat_id integer NOT NULL,
    room_id integer NOT NULL,
    timeslot_id integer NOT NULL,
    request_date date NOT NULL,
    request_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_anonymous boolean DEFAULT false,
    is_recurring boolean DEFAULT false,
    cancelled_at timestamp without time zone
);


ALTER TABLE public.reservation OWNER TO admin;

--
-- Name: reservation_reservation_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.reservation_reservation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reservation_reservation_id_seq OWNER TO admin;

--
-- Name: reservation_reservation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.reservation_reservation_id_seq OWNED BY public.reservation.reservation_id;


--
-- Name: room; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.room (
    room_id integer NOT NULL,
    room_code character varying(10),
    building text,
    floor integer,
    capacity integer
);


ALTER TABLE public.room OWNER TO admin;

--
-- Name: room_room_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.room_room_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.room_room_id_seq OWNER TO admin;

--
-- Name: room_room_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.room_room_id_seq OWNED BY public.room.room_id;


--
-- Name: seat; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.seat (
    room_id integer NOT NULL,
    seat_id integer NOT NULL
);


ALTER TABLE public.seat OWNER TO admin;

--
-- Name: timeslot; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.timeslot (
    timeslot_id integer NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL
);


ALTER TABLE public.timeslot OWNER TO admin;

--
-- Name: timeslot_timeslot_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.timeslot_timeslot_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.timeslot_timeslot_id_seq OWNER TO admin;

--
-- Name: timeslot_timeslot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.timeslot_timeslot_id_seq OWNED BY public.timeslot.timeslot_id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."user" (
    user_id integer NOT NULL,
    username character varying(50) NOT NULL,
    first_name character varying(64) NOT NULL,
    last_name character varying(64) NOT NULL,
    email character varying(64) NOT NULL,
    password_hash text NOT NULL,
    bio character varying(280) DEFAULT ''::character varying,
    profile_picture_url character varying(2048) DEFAULT ''::character varying,
    is_anonymous boolean DEFAULT false,
    is_public boolean DEFAULT true,
    role character varying(10) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT user_role_check CHECK (((role)::text = ANY ((ARRAY['STUDENT'::character varying, 'FACULTY'::character varying, 'ADMIN'::character varying])::text[])))
);


ALTER TABLE public."user" OWNER TO admin;

--
-- Name: user_user_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.user_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_user_id_seq OWNER TO admin;

--
-- Name: user_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.user_user_id_seq OWNED BY public."user".user_id;


--
-- Name: reservation reservation_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation ALTER COLUMN reservation_id SET DEFAULT nextval('public.reservation_reservation_id_seq'::regclass);


--
-- Name: room room_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.room ALTER COLUMN room_id SET DEFAULT nextval('public.room_room_id_seq'::regclass);


--
-- Name: timeslot timeslot_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.timeslot ALTER COLUMN timeslot_id SET DEFAULT nextval('public.timeslot_timeslot_id_seq'::regclass);


--
-- Name: user user_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."user" ALTER COLUMN user_id SET DEFAULT nextval('public.user_user_id_seq'::regclass);


--
-- Data for Name: reservation; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: room; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: seat; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: timeslot; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.timeslot (timeslot_id, start_time, end_time) FROM stdin;
1	07:00:00	07:30:00
2	07:30:00	08:00:00
3	08:00:00	08:30:00
4	08:30:00	09:00:00
5	09:00:00	09:30:00
6	09:30:00	10:00:00
7	10:00:00	10:30:00
8	10:30:00	11:00:00
9	11:00:00	11:30:00
10	11:30:00	12:00:00
11	12:00:00	12:30:00
12	12:30:00	13:00:00
13	13:00:00	13:30:00
14	13:30:00	14:00:00
15	14:00:00	14:30:00
16	14:30:00	15:00:00
17	15:00:00	15:30:00
18	15:30:00	16:00:00
19	16:00:00	16:30:00
20	16:30:00	17:00:00
21	17:00:00	17:30:00
22	17:30:00	18:00:00
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: reservation_reservation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.reservation_reservation_id_seq', 5188, true);


--
-- Name: room_room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.room_room_id_seq', 25, true);


--
-- Name: timeslot_timeslot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.timeslot_timeslot_id_seq', 22, true);


--
-- Name: user_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.user_user_id_seq', 10017, true);


--
-- Name: reservation reservation_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT reservation_pkey PRIMARY KEY (reservation_id);


--
-- Name: room room_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT room_pkey PRIMARY KEY (room_id);


--
-- Name: seat seat_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.seat
    ADD CONSTRAINT seat_pkey PRIMARY KEY (room_id, seat_id);


--
-- Name: timeslot timeslot_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.timeslot
    ADD CONSTRAINT timeslot_pkey PRIMARY KEY (timeslot_id);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (user_id);


--
-- Name: user user_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_username_key UNIQUE (username);


--
-- Name: reservation_active_unique_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX reservation_active_unique_idx ON public.reservation USING btree (room_id, seat_id, timeslot_id, request_date) WHERE (cancelled_at IS NULL);


--
-- Name: reservation reservation_room_id_seat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT reservation_room_id_seat_id_fkey FOREIGN KEY (room_id, seat_id) REFERENCES public.seat(room_id, seat_id) ON DELETE CASCADE;


--
-- Name: reservation reservation_timeslot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT reservation_timeslot_id_fkey FOREIGN KEY (timeslot_id) REFERENCES public.timeslot(timeslot_id) ON DELETE CASCADE;


--
-- Name: reservation reservation_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT reservation_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(user_id) ON DELETE CASCADE;


--
-- Name: seat seat_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.seat
    ADD CONSTRAINT seat_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.room(room_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 0wVMeo0Pm78CfgS20zIPjFvrHt9oZ0osJDmsk01NfQ7TKUVy0OcqBMVDXyfU8iG

